*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 2000;
  }


nav{
    display: flex;
    height: 80px;
    width: 100%;
    background:#7eb569;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
    position: fixed;
}
nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    }

.logo a{
    color: rgb(255, 255, 255)
}
nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.log{
    border: whitesmoke solid 3px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 1px 3px whitesmoke;
}
nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
/** Start of Responsive Section**/
@media (max-width: 1000px){
nav{
    padding: 0 40px 0 50px;
}
} 
@media (max-width: 920px) {
nav .menu-btn i{
    display: block;
}
#check:checked ~ .menu-btn i:before{
    content: "\f00d";
}
nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
#check:checked ~ ul{
    left: 0;
}
#check:checked ~ .kontainer{
    display: none;
}
nav ul li{
    width: 100%;
    margin: 40px 0;
}
nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav ul li .log{
    display: flex;
    width: 50%;
    justify-content: center;
}
#check:checked ~ ul li a{
    margin-left: 0px;
}

#check:checked ~ ul li .log{
    margin-left: 25%;
}

nav ul li a.active,
nav ul li a:hover{
    background: none;
    color: #98cc83;
}


}
.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #557a46;
    transition: all .5s ease;
    margin-top: 80px;
}
.sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #557a46;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
    text-decoration: none;
}
.sidebar a:hover{
    border-left: 5px solid #b93632;
    color: #b93632;
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: fixed;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background: #557a46;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    margin-left: 90%;
}
label #cancel{
    opacity: 0;
    visibility: hidden;
}
#tgl:checked ~ .sidebar{
    left: 0;
}
#tgl:checked ~ label #btn{
    margin-left: 90%;
    opacity: 0;
    visibility: hidden;
}
#tgl:checked ~ label #cancel{
    margin-left: 90%;
    opacity: 1;
    visibility: visible;
    }


.mega_wrap{
    background: url('img\ test/Frame.png');
    padding: 15em 10%;
  }
.tambah_kontainer{
    display:block;
    background-color: whitesmoke;
  }

.tambah{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

.tambah h1{
    padding: 0 10px;
    font-size: 24px;
  }
.tambah_kontainer .tambah .fields,
.tambah_kontainer .tambah .note {
    display: grid;
    padding: 1% 0.7rem;
  }
.tambah_kontainer .tambah .fields{
    padding-bottom: 10px;
  }

.tambah_kontainer .tambah .note {
    height: 40%;
  }

.tambah i{
    margin: 5px 15px;
  }
.tambah i:hover,
.tambah > p:hover
  {
    color: #6baee8;
  }

.tambah_kontainer button{
    background: #49eb74;
    padding: 11px 18px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 8px 15px;
  }
